<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <servlet>
    <servlet-name>doCalculate</servlet-name>
    <servlet-class>next.section9.CalculateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>doCheck</servlet-name>
    <servlet-class>next.section9.CheckServlet</servlet-class>
  </servlet>
    <servlet-mapping>
  <servlet-name>doCalculate</servlet-name>
  <url-pattern>/doCalculate.action</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>doCheck</servlet-name>
    <url-pattern>/doCheck.action</url-pattern>
  </servlet-mapping>
  <display-name>Archetype Created Web Application</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>


</web-app>
